@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>This web application is created to fulfill the requirements of the coursework given 
    by the module of Distributed Systems and Cloud Computing</p>
